@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌿 Кастомные стили */
body {
  @apply bg-gray-50 text-gray-800;
  font-family: 'Inter', sans-serif;
}



  .markdown-content pre {
      background-color: #f5f5f5;
      border-radius: 0.25rem;
      padding: 1rem;
      overflow-x: auto;
      margin: 0.5rem 0;
  }
  
  .markdown-content code {
      font-family: monospace;
  }
  
  .markdown-content table {
      border-collapse: collapse;
      width: 100%;
      margin: 1rem 0;
  }
  
  .markdown-content th,
  .markdown-content td {
      border: 1px solid #ddd;
      padding: 8px;
  }
  
  .markdown-content th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #f2f2f2;
  }
  
  .markdown-content blockquote {
      border-left: 4px solid #cbd5e0;
      padding-left: 1rem;
      margin: 1rem 0;
      color: #4a5568;
  }